# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# production
/build

# prisma
/prisma/dev.db
/prisma/dev.db-journal
*.db
*.db-journal

# uploads (runtime user content)
/public/uploads/*
!/public/uploads/.gitkeep

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts
